# git submodules

[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized

[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/bash-support.vim"]
	path = vim/bundle/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim
[submodule "vim/bundle/c.vim"]
	path = vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim
[submodule "vim/bundle/dbext.vim"]
	path = vim/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
[submodule "vim/bundle/DirDiff.vim"]
	path = vim/bundle/DirDiff.vim
	url = https://github.com/vim-scripts/DirDiff.vim
[submodule "vim/bundle/Figlet.vim"]
	path = vim/bundle/Figlet.vim
	url = https://github.com/vim-scripts/Figlet.vim
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "vim/bundle/github-issues.vim"]
	path = vim/bundle/github-issues.vim
	url = https://github.com/jaxbot/github-issues.vim
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim
[submodule "vim/bundle/mediawiki.vim"]
	path = vim/bundle/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-bbye"]
	path = vim/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/bundle/VimCalc"]
	path = vim/bundle/VimCalc
	url = https://github.com/gregsexton/VimCalc
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = https://github.com/basepi/vim-conque
[submodule "vim/bundle/vim-ctrlspace"]
	path = vim/bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/vifm.vim"]
	path = vim/bundle/vifm.vim
	url = https://github.com/xaizek/vifm.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-g"]
	path = vim/bundle/vim-g
	url = https://github.com/szw/vim-g
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-tmux-focus-events"]
	path = vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/bundle/vim-togglemouse"]
	path = vim/bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "vim/bundle/YCM-Generator"]
	path = vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe

