[Desktop Entry]
Version=1.0
Name=Klipper
Comment=Start the Klipper system tray applet
Exec=/usr/bin/klipper
Terminal=false
Type=Application
Categories=
GenericName=
OnlyShowIn=X-Awesome;
