[Desktop Entry]
Version=1.0
Name=xscreensaver
Comment=Start the screensaver daemon
Exec=/usr/bin/xscreensaver -no-splash
Terminal=false
Type=Application
Categories=
GenericName=
OnlyShowIn=X-Awesome;
